@use "../../media" as *;
.itemsPreview {
  margin-bottom: 50px;
}
.list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 36px;
  column-gap: 16px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3,1fr);
  }
  @include mobile{
    grid-template-columns: repeat(2,1fr);
  }
  @include mobile-s{
    grid-template-columns: repeat(1,1fr);
  }
}
.about{
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background-color: var(--surface-contrast);
  padding: 8px 12px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,.08);
}
.image{
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
}
.item{
  background-color: var(--card);
  position: relative;
  padding: 16px 10px 34px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: .6s;
  transform-origin: center;
  cursor: pointer;
  &:hover{
    transform: translate(-6px, -12px);
  }
}
.item{
  list-style: none;
}
.title{
  text-align: center;
}
.description{
  text-align: center;
}